h1 {
    font-size: 42px;
    font-weight: 600;
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
.Chat-App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: url(./assets/background2.png);
}

.Header {
    overflow: visible;
    width: 70%;
    text-align: center;
    color: black;
    margin: 5px auto;
}

.Messages-list {
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
    border-radius: 10px;
    padding: 20px 0;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    overflow: auto;
    margin-bottom: 20px;
    
}

.Messages-list::-webkit-scrollbar{
    display: none;
}
.Messages-list{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.Messages-message {
    display: flex;
    margin-top: 10px;
}

.Messages-message.currentMember {
    flex-direction: row-reverse;
    text-align: right;
}

.Message-content {
    display: inline-block;
}

.currentMember > .Message-content {
    align-items: flex-end;
}

.Messages-message > .avatar {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin: 0 10px -10px;
}

.Message-content > .username {
    display: block;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 4px;
}

.Message-content > .text {
    padding: 10px;
    max-width: 400px;
    margin: 0;
    border-radius: 12px;
    background-color: #63da56;
    color: black;
    display: inline-block;
    overflow-wrap: break-word;
}

.currentMember > .Message-content .text {
    background-color: #007FFF;
    color: black;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto 40px;
}

input {
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
    padding: 12px;
    font-size: 16px;
    color: black;
    border-radius: 25px;
    border: 2px solid black;
    flex-grow: 0.5;
    margin: 5px;
}
input:focus {
    background-color: #fff;
    flex-grow: 1;
}

input:focus::placeholder {
    color: transparent;
  }

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1650bb;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #1650bb;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }

  .error{
    color: #D8000C;
    background-color: #FFBABA;
    padding: 2px;
    border: 2px solid black;
    text-align: center;
  }

